@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    --bigfin-accent: #82a9bc;
    --bigfin-primary: #131215;
    --bigfin-secondary: #090909;
    --bigfin-text: #ffffff;
    --bigfin-champ-pink: #ECD4CE;
    --bigfin-llac: #BEAED2;
    background: var(--bigfin-primary);
    color: var(--bigfin-text);
    padding: 5% 15% 5% 15%;
}

div.text {
    padding: 5%;
    padding-top: 5%;
}

code {
    font-family: monospace;
}

::selection {
    background: var(--bigfin-accent);
    color: var(--bigfin-primary);
}

a {
    color: var(--bigfin-accent);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--bigfin-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--bigfin-accent);
}

li {
    margin-top: 1%;
}

div {
    margin-top: 3%;
}

@keyframes colors {
    0% {
        color: var(--bigfin-text);
    }
    25% {
        color: var(--bigfin-accent);
    }
    75% {
        color: var(--bigfin-llac);
    }
    50% {
        color: var(--bigfin-champ-pink);
    }
    100% {
        color: var(--bigfin-text);
    }
}

h1, h3 {
    animation-name: colors;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#random-text{
    animation-duration: 1.3s;
    animation-name: anim-lineUp;
}

span {
    padding-left: 1%;
}

i {
    font-size: 150%;
}

blockquote {
  border-left: 1px solid white;
  padding-left: 2%;
  margin-left: 0;
}

:root {
    --mylinkcolor: #d1a0f2;
}

small a {
    text-decoration: none;
}

small i {
    font-size: 12px;
}
