{{define "main"}}

    <h1>🐥 staring into your soul.</h1>
    <p id="random-text">
        ...
    </p>
    <div></div>
    <p>
        <i class="devicon-javascript-plain"></i> <i class="devicon-nodejs-plain"></i> <i class="devicon-go-original-wordmark"></i>  <i class="devicon-python-plain"></i>
        <i class="devicon-postgresql-plain"></i> <i class="devicon-redis-plain"></i> <i class="devicon-linux-plain"></i>
    </p>
    <p>
        <a href="https://gitlab.com/leJad/">Code</a> • <a href="/logs">Logs</a>
    </p>

    <div>Contact</div>
    <ul>
        <li><a href="mailto:ecma@ecma.fun" target="_blank">ecma@ecma.fun</a> via E-Mail</li>
        <li><a href="https://dino.im/" target="_blank">ecma@xmpp.ecma.fun</a> on XMPP</li>
        <li><a href="https://discord.com/users/813118447268397056" target="_blank">@ecma#7331</a> on Discord</li>
    </ul>

    <div>MOOre me</div>
    <ul>
        <li><a href="https://gitlab.com/leJad" target="_blank">GitLab</a></li>
        <li><a href="https://s.team/p/gcmb-wtqq/" target="_blank">Steam</a></li>
    </ul>

    <script type="text/javascript" src="js/random-text.js"></script>
    
{{end}}
