{{partial "header.html" .}}

<body>
<h1>🐧🪶</h1>
<p>I write things when I'm bored.</p>
<ul>
    {{ range .Pages }}
          <li> <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a> </li>
    {{end}}
</ul>

{{ partial "footer.html" . }}
</body>
</html>